<%- include("../partials/header")%> <%- include("../partials/nav")%>
<h1>Edit Trainee</h1>

<p><%=message%></p>

<form method="post" action="/trainees/<%=trainee._id%>?_method=PUT">
  <%- include("../partials/traineeFieldset", { requirementNames, trainee, dayjs
  })%>
  <button>Update</button>
</form>
