<%- include("../partials/header") %> <%- include("../partials/nav", navFields)
%>
<h1>Aircrew Index</h1>
<table>
  <a href="/trainees/new">Add New Aircrew</a>
  <thead>
    <th>Name</th>
    <th>Seniority</th>
    <th>Status</th>
    <th>Actions</th>
  </thead>
  <tbody>
    <% trainees.forEach((trainee)=>{ %> <% const status =
    getOverallStatus(trainee)%>
    <tr>
      <td><%= trainee.name %></td>
      <td><%= trainee.seniority %></td>
      <td class="<%=status.class%>"><%= status.message %></td>
      <td><a href="/trainees/<%= trainee._id %>">Show Details</a></td>
    </tr>

    <% }) %>
  </tbody>
</table>

<%- include("../partials/footer")%> %>
