<%- include("../partials/header")%> <%-include("../partials/nav")%>
<h1>Add New Trainee</h1>
<p><%=message%></p>
<form method="post" action="/trainees">
  <%- include("../users/partials/loginFieldset")%>
  <fieldset>
    <legend>Trainee Particulars</legend>
    <label>Name*:<input name="name" required /></label>
    <label>Date of Birth:*<input name="dOB" type="date" required /> </label
    ><br />
    <label>Contact*: <input name="contact" required /></label>
    <label>Vehicle Number: <input name="vehNum" /></label>
  </fieldset>

  <fieldset>
    <legend>Last Attended Dates</legend>

    <% requirementNames.forEach((requirementName) => { %>
    <label
      ><%= requirementName %>*: <input name="<%=requirementName%>" type="date"
    /></label>
    <br />
    <%}) %>
  </fieldset>
  <button>Add</button>
</form>
