<%- include("../partials/header")%> <%- include("../partials/nav", navFields)%>

<h1><%= trainee.name %></h1>
<h3 class="<%=overallStatus.class%>"><%=overallStatus.message%></h3>
<p><%=trainee.seniority%> Aircrew</p>
<p>Contact: <%=trainee.contact%></p>
<p>Vehicle Number: <%=trainee.vehNo%></p>

<% trainee.currencies.forEach((currency)=>{ %>
<dl>
  <dt><b><%= currency.type%></b></dt>
  <dd class="<%=statuses[currency.type]%>">
    Expires: <%=dayjs(currency.expiry).format("D MMM YY")%>
  </dd>
  <% if (nextBooked[currency.type]) { %>
  <dd>
    <a href="/trainings/<%=nextBooked[currency.type]._id%>"
      >Booked: <%= dayjs(nextBooked[currency.type].start).format("D MMM YY")
      %></a
    >
  </dd>
  <dd>
    <a href="/bookings/edit/<%=nextBooked[currency.type]._id%>/<%=trainee._id%>"
      >Change Booking</a
    >
  </dd>
  <% } else if (waitlists[currency.type]) { %>
  <dd>
    <a href="/trainings/<%= waitlists[currency.type]._id %>"
      >On waitlist: <%= dayjs(waitlists[currency.type].start).format("D MMM YY")
      %></a
    >
  </dd>
  <dd>
    <a href="/bookings/edit/<%=waitlists[currency.type]._id%>/<%=trainee._id%>"
      >Change Booking</a
    >
  </dd>
  <% } else { %>
  <dd>
    <a href="/bookings/new/<%=trainee._id%>/<%=currency.type%>/">Book</a>
  </dd>
  <% } %>
</dl>
<% }) %>

<form action="/trainees/<%=trainee._id%>/edit">
  <button>EDIT</button>
</form>
<form method="post" action="/trainees/<%=trainee._id%>?_method=DELETE">
  <button>DELETE</button>
</form>

<%- include("../partials/footer")%>
