<%- include("../partials/header")%>
<h1><%= trainee.name %></h1>
<h3><%=status%></h3>
<p>Contact: <%=trainee.contact%></p>
<p>Vehicle Number: <%=trainee.vehNo%></p>

<% trainee.currencies.forEach((currency)=>{ %>
<dl>
  <dt><b><%= currency.type%></b></dt>
  <dd>Last Attended: <%= dayjs(currency.lastAttended).format("D MMM YY") %></dd>
  <dd>Expires: <%= dayjs(expiries[currency.type]).format("D MMM YY") %></dd>
  <% if (nextBooked[currency.type]) {%>
  <dd>
    Next Booking: <%= dayjs(nextBooked[currency.type].end).format("D MMM YY")%>
  </dd>
  <dd>
    <a href="/bookings/edit/<%=nextBooked[currency.type]._id%>/<%=trainee._id%>"
      >Change Booking</a
    >
  </dd>
  <%} else {%>
  <dd>
    <a href="/bookings/new/<%=trainee._id%>/<%=currency.type%>/"
      >Make New Booking</a
    >
  </dd>
  <%}%>
</dl>
<% }) %>

<form action="/trainees/<%=trainee._id%>/edit">
  <button>EDIT</button>
</form>
<form method="post" action="/trainees/<%=trainee._id%>?_method=DELETE">
  <button>DELETE</button>
</form>

<%- include("../partials/footer")%>
