<%- include("../partials/header")%>
<h1><%= trainee.name %></h1>
<h3>OVERALL STATUS</h3>
<p>Contact: <%=trainee.contact%></p>
<p>Vehicle Number: <%=trainee.vehNo%></p>

<% trainee.currencies.forEach((currency)=>{ %>
<div>
  <h4><%= currency.type%></h4>
  <p>Last Attended: <%= dayjs(currency.lastAttended).format("D MMM YY") %></p>
  <% if (nextBooked[currency.type]) {%>
  <p>Next Booking: <%= dayjs(nextBooked[currency.type]).format("D MMM YY")%></p>
  <a href="something">Change Booking</a>
  <%} else {%>
  <a href="/trainees/<%=trainee._id%>/bookings/<%=currency.type%>/new"
    >Make New Booking</a
  >
  <%}%>
</div>
<% }) %>

<a href="/trainees/<%=trainee._id%>/edit">EDIT</a>
<form method="post" action="/trainees/<%=trainee._id%>?_method=DELETE">
  <button>DELETE</button>
</form>

<%- include("../partials/footer")%>
