<%- include("../partials/header")%>
<h1><%= trainee.name %></h1>
<h3>OVERALL STATUS</h3>
<p>Contact: <%=trainee.contact%></p>
<p>Vehicle Number: <%=trainee.vehNo%></p>

<% trainee.currencies.forEach((currency)=>{ %>
<div>
  <h4><%= currency.type%></h4>
  <p>Last Attended: <%= dayjs(currency.lastAttended).format("D MMM YY") %></p>
  <% if (nextBooked[currency.type]) {%>
  <p>
    Next Booking: <%= dayjs(nextBooked[currency.type].end).format("D MMM YY")%>
  </p>
  <a href="/bookings/edit/<%=nextBooked[currency.type]._id%>/<%=trainee._id%>"
    >Change Booking</a
  >
  <%} else {%>
  <a href="/bookings/new/<%=trainee._id%>/<%=currency.type%>/"
    >Make New Booking</a
  >
  <%}%>
</div>
<% }) %>

<a href="/trainees/<%=trainee._id%>/edit">EDIT</a>
<form method="post" action="/trainees/<%=trainee._id%>?_method=DELETE">
  <button>DELETE</button>
</form>

<%- include("../partials/footer")%>
