<%- include("../partials/header")%>

<h1>Training Index</h1>
<a href="/trainings/new">Add New Training</a>
  <table>
    <thead>
      <th>Type</th>
      <th>Start</th>
      <th>End</th>
      <th>Capacity</th>
      <th>Actions</th>
    </thead>
    <tbody>
      <% trainings.forEach((training)=>{ %>
      <tr>
        <td><%= training.type %></td>
        <td><%= dayjs(training.start).format("D-MMM-YY, HH:mm") %></td>
        <td><%= dayjs(training.end).format("D-MMM-YY, HH:mm") %></td>
        <td><%= training.capacity %></td>
        <td><a href="/trainings/<%= training._id %>">Show Details</a></td>
      </tr>
      <% }) %>
    </tbody>
  </table>
  <%- include("../partials/footer")%>
</a>
