<%- include("../partials/header")%>
<%- include("../partials/nav")%>

<div>
  <h1><%= training.type %></h1>
  <h4>Start: <%= dayjs(training.start).format("D-MMM-YY, HH:mm")%></h4>
  <h4>End: <%= dayjs(training.end).format("D-MMM-YY, HH:mm")%></h4>
  <h4>
    Vacancies: <%=training.capacity -
    training.trainees.length%>/<%=training.capacity%>
  </h4>
</div>
<a href="/trainings/<%= training._id %>/edit">Edit</a>
<form action="/trainings/<%= training._id %>?_method=DELETE" method="post">
  <button>Delete</button>
</form>

<% if (training.trainees.length) { %>
<div>
  <h4>Trainees</h4>
  <table>
    <thead>
      <th>Name</th>
      <th>Contact</th>
      <th>Vehicle Number</th>
      <th>Last Attended</th>
      <th>Completed</th>
    </thead>
    <form>
      <tbody>
        <%training.trainees.forEach((trainee) => {%>
        <tr>
          <td><%=trainee.name%></td>
          <td><%=trainee.contact%></td>
          <td><%=trainee.vehNum%></td>
          <td><%=dayjs(trainee.lastAttended, "D-MMM-YY")%></td>
          <td><input name="trainee._id" type="checkbox"/></a></td>
        </tr>
        <%})%>
      </tbody>
    </table>
    <button>Update Attendance</button>
  </form>
</div>
<%}%>
<%- include("../partials/footer")%>
