<%- include("../partials/header")%> <%- include("../partials/nav", navFields)%>
<h1>Change a Booking: <%=type%></h1>

<table>
  <thead>
    <th>Start</th>
    <th>End</th>
    <th>Vacancies</th>
    <th>Actions</th>
    <th></th>
  </thead>
  <tbody>
    <% trainings.forEach((training) => {%>
    <tr>
      <td><%= dayjs(training.start).format("D MMM YY HH:mm") %></td>
      <td><%= dayjs(training.end).format("D MMM YY HH:mm") %></td>
      <td>
        <%= training.capacity - training.trainees.length%>/<%=training.capacity
        %>
      </td>
      <td><a href="/trainings/<%= training._id %>">See Details</a></td>
      <td>
        <% if (training._id.toString() === trainingId) { %>
        <form method="post" action="/bookings/<%=training._id%>?_method=DELETE">
          <input name="traineeId" value="<%=traineeId%>" class="hidden" />
          <button>Unbook</button>
        </form>
        <%} else {%>
        <form method="post" action="/bookings/<%=training._id%>?_method=PUT">
          <input name="traineeId" value="<%=traineeId%>" class="hidden" />
          <input
            name="previousBooking"
            value="<%=trainingId%>"
            class="hidden"
          />
          <button>Book</button>
        </form>
        <%}%>
      </td>
    </tr>
    <%})%>
  </tbody>
</table>

<%- include("../partials/footer")%>
