<%- include("../partials/header")%> <%- include("../partials/nav")%>

<h1>Currency Tracker Users Index</h1>

<nav>
  Add User:
  <a href="/users/new">Non-Aircrew</a>
  <a href="/trainees/new">Aircrew</a>
</nav>

<table>
  <thead>
    <th>Username</th>
    <th>Account Type</th>
    <th>Actions</th>
  </thead>
  <tbody>
    <% users.forEach((user) => {%>
    <tr>
      <td><%=user.userId%></td>
      <td>
        <% if (user.account === "trainee") {%>
        <a href="/trainees/<%=user.traineeId%>">Aircrew</a> <%} else {%>
        <%=user.account%> <%}%>
      </td>
      <td>
        <form action="/users/<%=user._id%>?_method=DELETE" method="post">
          <button>DELETE</button>
        </form>
      </td>
    </tr>

    <%})%>
  </tbody>
</table>

<%- include("../partials/footer")%>
